# SPDX-FileCopyrightText: 2023 spdx contributors
#
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 119
exclude = src/spdx_tools/spdx/parser/tagvalue/parsetab.py, __init__.py
extend-ignore = E203
