__pycache__/
*.py[cod]
*.out
/build/
/dist/
/tmp/
spdx/parsers/parsetab.py
/.cache/

# virtualenv
/bin
/lib
/Lib
/local
/local/
/.eggs/
*.egg-info/
/Include
/include
/pip-selfcheck.json
.Python
/share/

# IDEs
.project
.pydevproject
.idea
org.eclipse.core.resources.prefs
.vscode
.pytest_cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
nosetests.xml
htmlcov
