# Build outputs
/build/
/dist*/
*.egg-info/
/.eggs/
src/spdx_tools/spdx/parser/tagvalue/parsetab.py

# Python cache
__pycache__/
*.py[cod]
*.out

# Virtual environments
.python-version
.tox
venv*
/bin
/include
/Include
/lib
/Lib
/local
/local/
/share/

# IDEs
.idea
.project
.pydevproject
.vscode
org.eclipse.core.resources.prefs

# Testing and type checking
.cache
.coverage
.coverage.*
.mypy_cache
.pytest_cache
htmlcov

# OS temporary files
*.*~
._*
.DS_Store
/tmp/
