__pycache__/
*.py[cod]
*.out
/build/
/dist*/
/tmp/
src/spdx_tools/spdx/parser/tagvalue/parsetab.py
/.cache/

.tox
venv*

# virtualenv
/bin
/lib
/Lib
/local
/local/
/.eggs/
*.egg-info/
/Include
/include
/pip-selfcheck.json
.Python
/share/

# IDEs
.project
.pydevproject
.idea
org.eclipse.core.resources.prefs
.vscode
.pytest_cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
nosetests.xml
htmlcov
