version: "{build}"
image:
  - Visual Studio 2019
environment:
  matrix:
    - PYTHON_EXE: "C:\\Python37-x64\\python.exe"
    - PYTHON_EXE: "C:\\Python38-x64\\python.exe"
    - PYTHON_EXE: "C:\\Python39-x64\\python.exe"
    - PYTHON_EXE: "C:\\Python310-x64\\python.exe"

install:
  - "%PYTHON_EXE% --version"
  - "%PYTHON_EXE% -m pip install --upgrade pip"
  - "%PYTHON_EXE% -m pip install --upgrade setuptools setuptools_scm wheel build pytest"
  - "%PYTHON_EXE% -m pip install --upgrade -e ."

build: off

test_script:
  - "%PYTHON_EXE% -m pytest"
