[DEFAULT]
# beartype is not packaged in Debian 13; install via pip.
# semantic-version is not packaged in Debian 12 and 13; install via pip.
Depends3 =
    # python3-beartype, # Available in Debian 13
    python3-click,
    python3-license-expression,
    python3-ply,
    python3-rdflib,
    # python3-semantic-version, # Avaiable in Debian Sid
    python3-uritools,
    python3-xmltodict,
    python3-yaml
X-Python3-Version = >= 3.10
Copyright-File = LICENSE
