[DEFAULT]
# beartype is not packaged in Debian Trixie/Bookworm; install via pip.
# semantic_version is not packaged in Debian Trixie; install via pip.
Depends3 =
    # python3-beartype, # Trixie
    python3-click,
    python3-license-expression,
    python3-ply,
    python3-rdflib,
    # python3-semantic-version, # Sid
    python3-uritools,
    python3-xmltodict,
    python3-yaml
X-Python3-Version = >= 3.10
Copyright-File = LICENSE
